@font-face {
  font-family: "Barlow";
  src: url("../../assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Din pro";
  src: url("../../assets/fonts/dinpro.otf");
}
@font-face {
  font-family: "Barlow";
  src: url("../../assets/fonts/Barlow-Bold.ttf");
  font-weight: 700;
}